[elastic-{{ curator_version }}]
name=Curator repository for {{ curator_version }}.x packages
baseurl=https://packages.elastic.co/curator/{{ curator_version }}/centos/7
gpgcheck=1
gpgkey=https://packages.elastic.co/GPG-KEY-elasticsearch
enabled=1
